@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand&family=Roboto+Mono:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand&family=Roboto+Mono:wght@200&family=Secular+One&display=swap");

:root {
  --color-primary: #23a39a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "Quicksand", "DM Sans", "sans-serif";
  line-height: 1.4;
  color: #000;
  background-color: var(--color-primary);
}
a {
  color: #000;
}

ul {
  list-style: none;
}

/* p {
  margin: 5px 0;
  line-height: 1.7;
} */

img {
  max-width: 100%;
}
/* Navbar */
.navbar {
  width: 100%;
  height: auto;
  padding: 20px;
}

.navbar-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar ul {
  display: flex;
  align-items: center;
}

.navbar li {
  margin: 0 15px;
  font-weight: bold;
}
.navbar-brand img {
  width: 55px;
  height: 55px;
}

/*markup image*/
.navbar-nav-right img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.navbar-nav-right li:first-child {
  display: flex;
  align-items: center;
}
.navbar-nav-right li:nth-child(2) {
  margin: 0 5px;
}

.navbar a {
  color: #000;
  text-decoration: none;
  
}


.navbar-nav-left {
  text-transform: uppercase;
  flex: 1;
  margin-left: 20px;
  font-weight: bolder;
  margin-bottom: 5px;
  
}

.navbar-nav-left li :hover {
  color: white;
}

.navbar-nav-left li :hover:after {
  margin-bottom: -3;
  background-color: #fff;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 6px;
}

/*Buttons*/
.btn {
  cursor: pointer;
  display: inline-block;
  background: none;
  border: 1px #000 solid;
  border-radius: 50px;
  padding: 7px 16px;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
}

.btn-white-black-border {
  border-color: #000;
  color: #000;
}
.btn-white-black-border:hover {
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}

.btn-black-black-border {
  background-color: #000;
  color: #fff;
}
.btn-black-black-border:hover {
  opacity: 0.6;
  transition: 0.2s;
}
/*Learn More button*/
.content .textBox button {
  margin-top: 10px;
  background-color: #000;
  color: #fff;
}
.content .textBox button:hover{
  opacity: 0.6;
  transition: 0.2s; 
}


/* Trending part*/

.content {
  position: relative;
  width: 100%;
  display: flex;
  /* justify-content: space-between;
  align-items: center; */
  /* margin-top: 50px; 
  margin-left: 50px; */
}
.content .textBox {
  position: relative;
  max-width: 400px;
  margin-top: 50px;
  margin-left: 50px;
}

.content .textBox h2 {
  color: #E8695E;
  font-size: 30px;
  line-height: 1.8em;
  font-weight: bold;
}

.content .textBox h2 span {
  font-family: "Secular One", "sans-serif";
  color: whitesmoke;
  font-size: 60px;
  font-weight: 900;
  margin-left: 15px;
}

.content p {
  font-size: 14px;
  margin-top: 20px;
  line-height: 1.5;

}

.content .imgBox img {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;

}
  
.img-cmp {
  position: absolute;
  left: 50%;
  bottom: -50%;
  transform: translateX(-50%);
  display: flex;
}
.img-cmp li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}
.img-cmp li:hover {
  transform: translateY(-15px);
}
.img-cmp img {
  max-width: 60px;
}
.icon {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon li {
  list-style: none;
}

.icon a {
  display: inline-block;
  margin: 5px 0;
  transform: scale(0.7);
}

.mid-circle {
  max-width: 100%;
  margin-top: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:#E8695E ;
  clip-path: circle(20%);
}